<h2 mat-dialog-title>¿Cómo funciona este asistente?</h2>
<mat-dialog-content>
    <p>Organizamos tú contenido para encontrar las mejores respuestas. ✨<br><br>
    <strong>¿Quieres crear un asistente?</strong> déjanos tu contacto:</p>
     <app-form-simple-with #inner_form [fields]="fields" [model]="model"></app-form-simple-with>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()"><mat-icon>close</mat-icon>Cancelar</button>
    <button mat-button (click)="send()"><mat-icon>mail</mat-icon>Enviar</button>
</mat-dialog-actions>