<h2 mat-dialog-title>{{ 'search_user.title' | translate : 'admin' | async }}</h2>
<mat-dialog-content>
    <app-search-input (changed)="getNewSearchText($event)" (search)="searchUser($event)"></app-search-input>
    <div class="users_container_scrolled">
        <div class="users_container">
            @for (user of usersMatched; track user.uid) {
            <app-user-card [user]="user" (pickThis)="selectUser(user)"></app-user-card>
            }
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="close()"><mat-icon>close</mat-icon>{{ 'search_user.buttons.cancel' | translate : 'admin' | async }}</button>
    @if (searched.trim().length > 0) {
    <button mat-button mat-flat-button color="primary" (click)="searchUser(searched)">
        <mat-icon>search</mat-icon>{{ 'search_user.buttons.search' | translate : 'admin' | async }}</button>
    }
</mat-dialog-actions>