mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.users_container_scrolled {
    width: 100%;
    max-height: 500px;
}

.users_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
