mat-card {
    width: 100%;
}

.header-image {
    background-size: cover;
}

[mat-card-image] {
    width: 100%;
}

mat-card-content {
    position: relative;
    flex: 1;
}

mat-card-content.without_image {
    display: flex;
    flex-direction: column;
}

mat-card-content.without_image .text_date {
    text-align: right;
    width: 100%;
}

mat-card-content.with_image .text_date {
    position: absolute;
    right: 0.5em;
    top: -2em;
    font-size: 1em;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
        1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.content_parent {
    margin-top: 0;
    padding-top: 10px;
}

.image_preview_parent {
    margin-top: 5px;
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image_preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.image_preview_blur {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
}

mat-card-actions {
    gap: 5px;
}

mat-card-header,
mat-card-content {
    cursor: pointer;
}

@media screen AND (max-width: 400px) {

    mat-card-title,
    mat-card-subtitle,
    .content_parent {
        word-break: break-all;
    }
}