.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}

[mat-card-image] {
    width: 100%;
}

mat-card-content {
    position: relative;
}

mat-card-content .text_date {
    position: absolute;
    right: 0.5em;
    top: -2em;
    font-size: 1em;
}

.content_parent {
    margin-top: 0;
    padding-top: 10px;
}

.image_preview {
    margin-top: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    width: 100%;
}