.node {
    display: flex;
    flex-direction: column;
    --action_color: rgb(94, 180, 255);
    --action_color_hover: rgb(0, 21, 255);
}

.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.add_action {
    cursor: pointer;
    text-decoration: underline;
    color: var(--action_color);
}

.add_action:hover {
    color: var(--action_color_hover);
}

.node input,
.node select {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid gray;
}

.node select {
    padding: 5px;
}

.node .children {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;
}

.node json-node {
    margin-top: 10px;
}

button.rounded {
    border-radius: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
}

button.rounded mat-icon {
    height: 10px;
    width: 10px;
    font-size: 10px;
}

.delete_button {
    color: var(--action_color);
    cursor: pointer;
}

.delete_button:hover {
    color: var(--action_color_hover);
}

.row {
    display: flex;
    flex-direction: column;
}

.see_on_hover {
    visibility: hidden;
}

.row .one_row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.row .one_row:hover .see_on_hover {
    visibility: visible;
}

.action_collapse .action_close {
    display: block;
}

.action_collapse .action_open {
    display: none;
}

.action_collapse.collapsed .action_close {
    display: none;
}

.action_collapse.collapsed .action_open {
    display: block;

}

.array_index {
    font-weight: bold;
    color: blue;
}