<div class="node">

    <!-- OBJECT -->

    @if (isObject(node)) {
    <ng-container>

        <div class="header">
            <button class="action_collapse rounded" (click)="toggle()" [ngClass]="{'collapsed': collapsed}">
                <mat-icon class="action_open">add</mat-icon>
                <mat-icon class="action_close">remove</mat-icon>
            </button>
            <span class="add_action" (click)="addProperty()">Add element</span>
        </div>

        @if (!collapsed) {
        <div class="children">
            @for (k of objectKeys(); track k) {
            <div class="row">
                <div class="one_row">
                    <!-- SAFE KEY RENAME -->

                    <input [ngModel]="k" (ngModelChange)="renameKeyTemporal(k, $event)"
                        (blur)="renameKeyBlur(k, $event)" />

                    <!-- PRIMITIVE VALUE -->
                    @if (isPrimitive(node[k])) {
                    <ng-container>
                        <input [ngModel]="node[k]" (ngModelChange)="updatePrimitive(node, k, $event)" />
                    </ng-container>
                    }

                    <!-- TYPE SELECT -->

                    <select class="see_on_hover" [ngModel]="detectType(node[k])"
                        (ngModelChange)="changeType(node, k, $event)">
                        <option value="string">string</option>
                        <option value="number">number</option>
                        <option value="boolean">boolean</option>
                        <option value="object">object</option>
                        <option value="array">array</option>
                        <option value="null">null</option>
                    </select>

                    <mat-icon class="delete_button see_on_hover" (click)="removeProperty(k)">delete_forever</mat-icon>
                </div>
                <!-- CHILD NODE -->
                @if (isObject(node[k]) || isArray(node[k])) {
                <json-node [node]="node[k]" [key]="k" (nodeChange)="nodeChange.emit()">
                </json-node>
                }

            </div>
            }
        </div>
        }

    </ng-container>
    } @else if (isArray(node)) {
    <!-- ARRAY -->
    <ng-container>
        <div class="header">
            <button class="action_collapse rounded" (click)="toggle()" [ngClass]="{'collapsed': collapsed}">
                <mat-icon class="action_open">add</mat-icon>
                <mat-icon class="action_close">remove</mat-icon>
            </button>
            <span class="add_action" (click)="addArrayItem()">Add element</span>
        </div>

        @if (!collapsed) {
        <div class="children">
            @for (item of node; let i = $index; track item) {
            <div class="row">
                <div class="one_row">
                    <span class="array_index">[ {{i}} ]</span>
                    <!-- PRIMITIVE VALUE -->
                    @if (isPrimitive(item)) {
                    <ng-container>
                        <input [ngModel]="item" (ngModelChange)="updatePrimitiveInArray(node, i, $event)"
                            (blur)="updatePrimitiveInArrayBlur(node, i)" />
                    </ng-container>
                    }
                    <!-- TYPE -->
                    <select class="see_on_hover" [ngModel]="detectType(item)"
                        (ngModelChange)="changeType(node, i, $event)">
                        <option value="string">string</option>
                        <option value="number">number</option>
                        <option value="boolean">boolean</option>
                        <option value="object">object</option>
                        <option value="array">array</option>
                        <option value="null">null</option>
                    </select>
                    <mat-icon class="delete_button see_on_hover" (click)="removeArrayItem(i)">delete_forever</mat-icon>
                </div>
                @if (isObject(item) || isArray(item)) {
                <json-node [node]="item" [key]="i" (nodeChange)="nodeChange.emit()">
                </json-node>
                }
            </div>
            }
        </div>
        }
    </ng-container>
    }
</div>