.node {
    display: flex;
    flex-direction: column;
}

.node .children {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 10px;
}

.node json-node {
    margin-top: 10px;
}

button.rounded {
    border-radius: 100%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
}

button.rounded mat-icon {
    height: 15px;
    width: 15px;
    font-size: 15px;
}

.row {
    display: flex;
    flex-direction: column;
}

.row .one_row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action_collapse .action_close {
    display: block;
}

.action_collapse .action_open {
    display: none;
}

.action_collapse.collapsed .action_close {
    display: none;
}

.action_collapse.collapsed .action_open {
    display: block;

}