<div class="node">

    <!-- OBJECT -->

    @if (isObject(node)) {
    <ng-container>

        <div class="header">

            <button class="action_collapse" (click)="toggle()" [ngClass]="{'collapsed': collapsed}">
                <mat-icon class="action_open">add</mat-icon>
                <mat-icon class="action_close">remove</mat-icon>
            </button>

            @if (key !== null) {
            <span>{{key}}</span> %7B%20%7D
            }
        </div>

        @if (!collapsed) {
        <div class="children">

            @for (k of objectKeys(); track k) {
            <div class="row">

                <!-- SAFE KEY RENAME -->

                <input [ngModel]="k" (ngModelChange)="renameKey(k, $event)" />

                <!-- PRIMITIVE VALUE -->
                @if (isPrimitive(node[k])) {
                <ng-container>
                    <input [ngModel]="node[k]" (ngModelChange)="updatePrimitive(node, k, $event)" />
                </ng-container>
                }

                <!-- TYPE SELECT -->

                <select [ngModel]="detectType(node[k])" (ngModelChange)="changeType(node, k, $event)">
                    <option value="string">string</option>
                    <option value="number">number</option>
                    <option value="boolean">boolean</option>
                    <option value="object">object</option>
                    <option value="array">array</option>
                    <option value="null">null</option>
                </select>

                <button (click)="removeProperty(k)">
                    delete
                </button>

                <!-- CHILD NODE -->
                @if (isObject(node[k]) || isArray(node[k])) {
                <json-node [node]="node[k]" [key]="k" (nodeChange)="nodeChange.emit()">
                </json-node>
                }

            </div>
            }

            <button (click)="addProperty()">
                + property
            </button>

        </div>
        }

    </ng-container>
    } @else if (isArray(node)) {
    <!-- ARRAY -->
    <ng-container>

        <div class="header">

            <button class="action_collapse" (click)="toggle()" [ngClass]="{'collapsed': collapsed}">
                <mat-icon class="action_open">add</mat-icon>
                <mat-icon class="action_close">remove</mat-icon>
            </button>

            @if (key !== null) {
            <span>{{key}}</span> %5B%20%5D
            }

        </div>

        @if (!collapsed) {
        <div class="children">
            <div *ngFor="let item of node; let i = index" class="row">
                <span>{{i}}</span>
                <!-- PRIMITIVE VALUE -->
                @if (isPrimitive(item)) {
                <ng-container>
                    <input [ngModel]="item" (ngModelChange)="updatePrimitive(node, i, $event)" />
                </ng-container>
                }
                <!-- TYPE -->
                <select [ngModel]="detectType(item)" (ngModelChange)="changeType(node, i, $event)">
                    <option value="string">string</option>
                    <option value="number">number</option>
                    <option value="boolean">boolean</option>
                    <option value="object">object</option>
                    <option value="array">array</option>
                    <option value="null">null</option>
                </select>
                <button (click)="removeArrayItem(i)">
                    delete
                </button>
                @if (isObject(item) || isArray(item)) {
                <json-node [node]="item" [key]="i" (nodeChange)="nodeChange.emit()">
                </json-node>
                }
            </div>
            <button (click)="addArrayItem()">
                + item
            </button>
        </div>
        }
    </ng-container>
    }
</div>