<div class="picker-container">
    <div class="header">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Buscar...</mat-label>
            <input [appAutofocus]="!isMobile()" matInput [(ngModel)]="searchText" autocomplete="off">
        </mat-form-field>
    </div>

    <div mat-dialog-content class="emoji-grid">
        <span *ngFor="let emoji of filteredEmojis" (click)="pickEmoji(emoji.emoji)" class="emoji-item">
            {{ emoji.emoji }}
        </span>
    </div>
</div>