.main_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map_container {
    width: 100%;
    min-height: 100vh;
    background-color: green;
}

.photo_container {
    width: 100%;
    min-height: 100vh;
    background-color: blue;
}

@media screen AND (max-width: 900px) {
    .main_container {
        grid-template-columns: 1fr;
        bottom: unset;
    }
}