<div class="main_container">
    @if(user !== null) {
    <div class="menu_container">
        @if (iconSmall) {
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" aria-label="Open menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        } @else {
        <button mat-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Open menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        }
        <mat-menu #menu="matMenu">
            @for(option of options; track option.label) {
            <button mat-menu-item (click)="option.callback()">
                <mat-icon>{{ option.icon }}</mat-icon>
                <span>{{ option.label }}</span>
            </button>
            }
        </mat-menu>
    </div>
    }
    <div class="title_content">
        Esto es un título
    </div>
    <div class="menu_container">
        @if (iconSmall) {
        @if(user == null) {
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu2" aria-label="Open menu">
            <mat-icon>face</mat-icon>
        </button>
        } @else {
        <button class="small_user_picture" [style.background-image]="'url(' + user.photoURL + ')'" mat-icon-button
            color="primary" [matMenuTriggerFor]="menu2" aria-label="Open menu">
        </button>
        }

        } @else {
        @if(user == null) {
        <button mat-fab color="primary" [matMenuTriggerFor]="menu2" aria-label="Open menu">
            <mat-icon>face</mat-icon>
        </button>
        } @else {
        <button mat-fab color="primary" class="small_user_picture"
            [style.background-image]="'url(' + user.displayName + ')'" [matMenuTriggerFor]="menu2"
            aria-label="Open menu">

        </button>
        }
        }
        <mat-menu #menu2="matMenu">
            @if(user == null) {
            <button mat-menu-item (click)="authSrv.loginWithGoogle()">
                <mat-icon>login</mat-icon>
                <span>Ingresar</span>
            </button>
            } @else {
            <button mat-menu-item>
                <span>{{ user.displayName }}</span>
            </button>
            <button mat-menu-item (click)="authSrv.logout()">
                <mat-icon>logout</mat-icon>
                <span>Salir</span>
            </button>
            }
        </mat-menu>
    </div>
</div>