.main_container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}

.title_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small_user_picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}