.panel_embbed {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.panel_embbed.full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    z-index: 2;
    background-color: black;
}

.big_image {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnails_scroll {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.thumbnails img {
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.view_background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.view {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.control_panel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control_panel:hover {
    cursor: pointer;
}

.left_control {
    left: 0;
}

.right_control {
    right: 0;
}

.control_panel mat-icon {
    font-size: 60px;
    width: 60px;
    height: 60px;
}

.close_control mat-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.description_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10vw;
}

.description_container p {
    text-align: center;
}

.close_control {
    position: absolute;
    right: 20px;
    top: 20px;
}