<h2 mat-dialog-title>
    {{ isPhoneAuth ? 'Mobile Login' : (showEmailForm && isResettingPassword ? 'Reset Password' : (showEmailForm &&
    isRegistering ? 'Register' : 'Login')) }}
</h2>

<mat-dialog-content>
    <div *ngIf="showEmailForm"
        style="display: flex; flex-direction: column; gap: 10px; margin-top: 10px; padding-bottom: 10px;">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;" *ngIf="!isResettingPassword">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password" (keyup.enter)="loginWithEmail()">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;" *ngIf="isRegistering && !isResettingPassword">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" [(ngModel)]="confirmPassword" (keyup.enter)="loginWithEmail()">
        </mat-form-field>
        <p *ngIf="errorMessage && !isPhoneAuth" style="color: #f44336; margin: 0; font-size: 14px;">{{ errorMessage }}
        </p>
    </div>

    <div *ngIf="isPhoneAuth"
        style="display: flex; flex-direction: column; gap: 10px; margin-top: 10px; padding-bottom: 10px;" #myElement>
        <div id="recaptcha-container"></div>
        <ng-container *ngIf="!codeSent">
            <app-phone-input [(ngModel)]="phoneNumber"></app-phone-input>
        </ng-container>
        <ng-container *ngIf="codeSent">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Verification Code</mat-label>
                <input matInput type="text" [(ngModel)]="verificationCode" (keyup.enter)="verifyCode()">
            </mat-form-field>
        </ng-container>
        <p *ngIf="errorMessage && isPhoneAuth" style="color: #f44336; margin: 0; font-size: 14px;">{{ errorMessage }}
        </p>
    </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="!showEmailForm && !isPhoneAuth">
    <button mat-button mat-flat-button color="primary" (click)="loginWithGoogle()">
        Google
    </button>
    <button mat-button mat-flat-button color="primary" (click)="showEmailForm = true">
        Email
    </button>
    <button mat-button mat-flat-button color="primary" (click)="togglePhoneAuth()">
        Mobile
    </button>
    <button mat-button (click)="cancel()">
        Cancel
    </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="showEmailForm && !isRegistering && !isResettingPassword">
    <button mat-button mat-flat-button color="primary" (click)="loginWithEmail()">
        Login
    </button>
    <button mat-button (click)="toggleRegister()">
        Register here
    </button>
    <button mat-button (click)="toggleResetPassword()">
        I forgot my password
    </button>
    <button mat-button (click)="showEmailForm = false; errorMessage = ''">
        Back
    </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="showEmailForm && isRegistering && !isResettingPassword">
    <button mat-button mat-flat-button color="primary" (click)="loginWithEmail()">
        Register
    </button>
    <button mat-button (click)="toggleRegister()">
        Go to Login
    </button>
    <button mat-button (click)="showEmailForm = false; isRegistering = false; errorMessage = ''">
        Back
    </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="showEmailForm && isResettingPassword">
    <button mat-button mat-flat-button color="primary" (click)="resetPassword()">
        Reset Password
    </button>
    <button mat-button (click)="toggleResetPassword()">
        Go to Login
    </button>
    <button mat-button (click)="showEmailForm = false; isResettingPassword = false; errorMessage = ''">
        Back
    </button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="isPhoneAuth">
    <button *ngIf="!codeSent" mat-button mat-flat-button color="primary" (click)="sendCode()">
        Send Code
    </button>
    <button *ngIf="codeSent" mat-button mat-flat-button color="primary" (click)="verifyCode()">
        Verify Code
    </button>
    <button mat-button (click)="isPhoneAuth = false; errorMessage = ''">
        Back
    </button>
</mat-dialog-actions>