<div #myparent class="theparent full_screen background_image container_vertical">
    <canvas #mycanvas width="1" height="1">
        Tu navegador no admite el elemento &lt;canvas&gt;.
    </canvas>
    <!--
    <div class="cursor_pointer" [ngStyle]="leftCursor.style">
        <img [src]="leftCursor.image">
    </div>
    <div class="cursor_pointer" [ngStyle]="rightCursor.style">
        <img [src]="rightCursor.image">
    </div>
    -->
    <div class="hud_score white_subtitle">
        <app-rating [onImageUrl]="'./assets/icons/heart.svg'" [offImageUrl]="'./assets/icons/heart_off.svg'"
            [ngModel]="hudData['life']" [label]="''"></app-rating>
        <span class="score"><img class="points_icon" src="./assets/icons/coffe.svg"> <strong
                [innerHTML]="hudData['score']"></strong></span>
    </div>
    <div class="hud_scenario_labels no_mouse no_select">
        @if (hasText(hudData['top'])) {
        <p class="scenario_step_label scenario_step_label_top black_font black_subtitle" [innerHTML]="hudData['top']">
        </p>
        }
        <div class="side_labels">
            <div class="scenario_step_general">
                @if (hasText(hudData['left'])) {
                <div>
                    <p class="scenario_step_left_label black_font black_subtitle" [innerHTML]="hudData['left']"></p>
                </div>
                }
            </div>
            <div class="scenario_step_general">
                @if (hasText(hudData['right'])) {
                <div class="text_right">
                    <p class="scenario_step_right_label black_font black_subtitle" [innerHTML]="hudData['right']">
                    </p>
                </div>
                }
            </div>
        </div>
        <div class="side_labels side_labels_bottom">
            <div class="scenario_step_general">
                @if (hasText(hudData['left_bottom'])) {
                <div>
                    <p class="scenario_step_left_label black_font black_subtitle" [innerHTML]="hudData['left_bottom']">
                    </p>
                </div>
                }
            </div>
            <div class="scenario_step_general">
                @if (hasText(hudData['right_bottom'])) {
                <div class="text_right">
                    <p class="scenario_step_right_label black_font black_subtitle"
                        [innerHTML]="hudData['right_bottom']">
                    </p>
                </div>
                }
            </div>
        </div>
        @if (hasText(hudData['bottom'])) {
        <p class="scenario_step_label scenario_step_label_bottom black_font black_subtitle"
            [innerHTML]="hudData['bottom']"></p>
        }
    </div>
</div>