<div #myparent class="theparent full_screen background_black container_vertical">
    <canvas #mycanvas width="1" height="1">
        Tu navegador no admite el elemento &lt;canvas&gt;.
    </canvas>
    <!--
    <div class="cursor_pointer" [ngStyle]="leftCursor.style">
        <img [src]="leftCursor.image">
    </div>
    <div class="cursor_pointer" [ngStyle]="rightCursor.style">
        <img [src]="rightCursor.image">
    </div>
    -->
    <div class="hud_score white_subtitle">
        <app-rating [onImageUrl]="'./assets/icons/heart.svg'" [offImageUrl]="'./assets/icons/heart_off.svg'"
            [ngModel]="hudData['life']" [label]="''"></app-rating>
        <span class="score">⭐ <strong [innerHTML]="hudData['score']"></strong></span>
    </div>
    <div class="hud_scenario_labels no_mouse no_select">
        <p class="scenario_step_label scenario_step_label_top white_subtitle" [innerHTML]="hudData['top']"></p>
        <div class="side_labels">
            <p class="scenario_step_left_label white_subtitle scenario_step_general" [innerHTML]="hudData['left']"></p>
            <p class="scenario_step_right_label white_subtitle scenario_step_general" [innerHTML]="hudData['right']">
            </p>
        </div>
        <div class="side_labels side_labels_bottom">
            <p class="scenario_step_left_label white_subtitle scenario_step_general"
                [innerHTML]="hudData['left_bottom']"></p>
            <p class="scenario_step_right_label white_subtitle scenario_step_general"
                [innerHTML]="hudData['right_bottom']"></p>
        </div>
        <p class="scenario_step_label scenario_step_label_bottom white_subtitle" [innerHTML]="hudData['bottom']"></p>
    </div>
</div>