<h2 mat-dialog-title>Share!</h2>
<mat-dialog-content>
    <canvas #qrcanvas class="print_canvas" width="1" height="1">
        Tu navegador no admite el elemento &lt;canvas&gt;.
    </canvas>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="secondary" (click)="open()">
        <mat-icon>arrow_outward</mat-icon>
        Open
    </button>
    <button mat-flat-button color="primary" (click)="accept()">
        <mat-icon>check</mat-icon>
        Ok
    </button>
</mat-dialog-actions>