.fields_parent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    padding: 0 !important;
    overflow-y: hidden !important;
    max-height: none !important;
    padding-top: 10px !important;
}