<form [formGroup]="form" mat-dialog-content class="flex flex-col gap-4">
    <div formArrayName="dynamicFields" class="fields_parent">
        @for (field of fields; track field.key) {
        @if (field.type=='text') {
        <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [formControl]="formControlMap[field.key]" />
        </mat-form-field>
        } @else if (field.type=='number') {
        <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput type="number" [formControl]="formControlMap[field.key]" />
        </mat-form-field>
        } @else if (field.type=='select') {
        <mat-form-field appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <mat-select [formControl]="formControlMap[field.key]">
                <mat-option *ngFor="let option of getSelect(field).options" [value]="option.val">
                    {{ option.txt }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        } @else if (field.type=='textarea') {
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ field.label }}</mat-label>
            <textarea matInput rows="4" [formControl]="formControlMap[field.key]"></textarea>
        </mat-form-field>
        } @else if (field.type=='contenteditable') {
        <app-editable-input [discrete]="false" [formControl]="formControlMap[field.key]" [placeholder]="field.label"
            [maxHeight]="getContentEditable(field).maxHeight" [label]="field.label"
            [minHeight]="getContentEditable(field).minHeight"></app-editable-input>
        } @else if (field.type=='toggle') {
        <app-on-off-toggle [formControl]="formControlMap[field.key]"></app-on-off-toggle>
        } @else if (field.type=='rating') {
        <app-rating [formControl]="formControlMap[field.key]"></app-rating>
        } @else if (field.type=='image') {
        <app-image-field [formControl]="formControlMap[field.key]"
            [config]="castImageType(field).image"></app-image-field>
        } @else if (field.type=='json') {
        <app-json-field [formControl]="formControlMap[field.key]" [config]="castJSONType(field).json"></app-json-field>
        } @else if (field.type=='phone') {
        <app-phone-input [formControl]="formControlMap[field.key]" [label]="field.label"
            [isRequired]="field.required"></app-phone-input>
        } @else if (field.type=='chip') {
        <app-chip-select [formControl]="formControlMap[field.key]" [label]="field.label"
            [config]="castChipType(field).chip"></app-chip-select>
        } @else if (field.type=='image-gallery') {
        <app-image-gallery [formControl]="formControlMap[field.key]"
            [config]="castImageGalleryType(field).gallery"></app-image-gallery>
        } @else if (field.type=='md') {
        <app-md-input [formControl]="formControlMap[field.key]" [placeholder]="field.label"
            [maxHeight]="getMD(field).maxHeight" [minHeight]="getMD(field).minHeight" [label]="field.label"
            [saveName]="getMD(field).saveName"></app-md-input>
        }
        }
    </div>
</form>