<div class="parent_1">
    <div class="question black_subtitle" [innerHTML]="sanitizeText(question.text)">
    </div>
    <div class="options">
        @for (option of question.options; track option.id; let i = $index) {
        <div class="option black_subtitle" [ngStyle]="{'background-color': getBackgroundColor(i, option.selected)}"
            [ngClass]="{'selected': option.selected === true, 'not_selected': option.selected !== true}">
            <span class="emoji">{{ option.emoji }}</span>
            <span class="text" [innerHTML]="sanitizeText(option.text)"></span>
        </div>
        }
    </div>
</div>