<div class="main_container">
    <div class="photo_container">
        <app-side-menu [options]="menuOptions"></app-side-menu>
        <div class="inner_photo_container">
            <app-statusbar [title]="getAlbumTitle()"></app-statusbar>
            <div class="dynamic_content">
                @if (collection) {
                <div class="description_parent">
                    <app-fullscreen [useWhiteSubtitle]="false" class=""></app-fullscreen>
                    <p [innerHTML]="sanitizeText(collection.description)"></p>
                </div>
                }
                <app-search-input (search)="search($event)" />
                <div class="container_grid_docs_found">
                    <div class="container_grid_docs_found_scroll">
                        <div class="intermediate">
                            <div class="grid_docs_found">
                                @for(note of notes; track note.id) {
                                <app-card-doc [model]="note" [user]="user" (createUpdate)="openDialog($event)"
                                    [imageType]="'square'" [dateType]="'v4'" [config]="cardConfig"
                                    [actions]="cardActions" (events)="cardEvents($event)" (delete)="deleteNote($event)"
                                    (share)="localShare($event)"></app-card-doc>
                                }
                                <div class="see_more_parent" (click)="pageNotesNoRealtime()">
                                    <p>Ver más</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (isMobile()) {
                    <div class="over_parent no_mouse">
                        @if (collection) {
                        <div class="record_button si_mouse" (click)="capturePhoto()"></div>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (!isMobile()) {
    <div class="map_container">
        <app-simple-map #simple_map [transform]="transformMark"></app-simple-map>
    </div>
    }
</div>