<div class="editable-wrapper" [ngClass]="{'visible': !discrete, 'focused': focused}">
    @if (label) {
    <span>{{ label }} ({{charCount()}}):</span>
    }
    <!-- Toolbar -->
    @if (focused || !discrete) {
    <div class="toolbar">
        <button type="button" (mousedown)="format('bold')" aria-label="Bold">
            <b>b</b>
        </button>

        <button type="button" (mousedown)="format('italic')" aria-label="Italic">
            <i>It</i>
        </button>

        <button type="button" (mousedown)="format('underline')" aria-label="Underline">
            <u>u</u>
        </button>

        <button type="button" (mousedown)="openEmoticons()" aria-label="Italic">
            <span>😎</span>
        </button>
    </div>
    }
    <div #scrollContainer class="scrolled_content"
        [ngStyle]="{'min-height': (minHeight ? minHeight : 'unset'), 'max-height': (maxHeight ? maxHeight : 'unset')}">
        <div #editable [ngClass]="{'with_focus': focused}" class="editable-input" contenteditable="true" role="textbox"
            aria-multiline="false" [attr.data-placeholder]="placeholder" [class.empty]="!value"
            [class.disabled]="disabled" [attr.tabindex]="disabled ? -1 : 0" (focus)="onFocus()" (blur)="onBlur()"
            (input)="onInput()" (keyup)="saveSelection()" (mouseup)="saveSelection()" (paste)="onPaste($event)">
        </div>

    </div>
</div>