.words_space {
    text-align: center;
    max-width: 100%;
}

.one_word {
    font-size: 3em;
}

.lang_option {
    padding: 5px;
    border-radius: 5px;
}

.higlighted {
    font-weight: bold;
    background: rgb(117, 117, 117);
    color: white;
}