.words_space {
    text-align: center;
    max-width: 100%;
}

.one_word {
    font-size: 2em;
}

.lang_option {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.higlighted {
    font-weight: bold;
    background: white;
    color: black;
}