.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #ffffff;
  border: 2px solid #007bff;
  color: #000;
}

.btn.btn-secondary:hover {
  background-color: #acd4ff;
  color: #000;
}

.btn mat-icon {
  font-size: 1.4em;
  height: 18px;
  width: 18px;
}

.btn-danger {
  background: #ee3000;
  color: #fff;
}

.btn-danger:hover {
  background: #8d1c00;
}

.btn.disabled {
  background: #cfcfcf;
  color: #7e7e7e;
  pointer-events: none;
  border: 0px;
  cursor: not-allowed;
}

.button_simple {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.bottom_absolute {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.button_simple mat-icon {
  font-size: 50px;
  height: unset;
  width: unset;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000,
    0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}
