.container_vertical {
  display: flex;
  flex-direction: column;
}

.container_horizontal {
  display: flex;
  flex-direction: row;
}

.width_100 {
  width: 100%;
}

.full {
  flex: 1;
}

.gap_10 {
  gap: 10px;
}

.gap_20 {
  gap: 20px;
}

.gap_30 {
  gap: 30px;
}

.margin_10 {
  margin: 10px;
}

.padding_10 {
  padding: 10px;
}

.padding_20 {
  padding: 20px;
}

.container_vertical.centered {
  justify-content: center;
}

.container_vertical.align_centered,
.container_vertical.hcentered {
  align-items: center;
}

.container_vertical.start {
  justify-content: start;
}

.container_vertical.end {
  justify-content: end;
}

.container_vertical.no_gap,
.container_horizontal.no_gap {
  gap: 0;
}

.container_horizontal.centered {
  justify-content: center;
}

.container_horizontal.vcentered {
  align-items: center;
}

.container_horizontal.end {
  justify-content: end;
}

.justify_end {
  justify-content: end;
}

.background_white {
  background-color: white;
}

.full_screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bottom_absolute {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.top_absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.button_simple {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.button_simple mat-icon {
  font-size: 60px;
  height: unset;
  width: unset;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000,
    0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.font_green {
  color: rgb(81, 251, 81);
}

.font_red {
  color: rgb(255, 87, 87);
}

.no_mouse {
  pointer-events: none;
}

.hand {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .container_horizontal.responsive_vertical {
    flex-direction: column;
  }
}
