.red_text {
  color: red;
}

.bold_text {
  font-weight: bold;
}

.text_link {
  cursor: pointer;
}

.text_link:hover {
  text-decoration: underline;
}

.font_green {
  color: rgb(81, 251, 81);
}

.font_red {
  color: rgb(255, 87, 87);
}

.underline {
  text-decoration: underline;
}
