.main_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}

.secondary_container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    width: 100%;
    flex: 1;
    gap: 10px;
    min-width: 0;
}

.dynamic_content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f4f7fb;
    border-radius: 20px 20px 0 0;
    min-width: 0;
}

.parent_content_wraper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    margin: 0 0vw;
    min-width: 0;
    flex: 1;
}

.content_wraper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    min-width: 0;
    flex: 1;
}

/* content */

.overflow_hidden {
    overflow: hidden;
}

.full_width {
    flex: 1;
}

.full_height {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.flex_horizontal_gap_10 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.left_parent {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.left_parent .rearch_parent {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_parent .rearch_parent mat-icon {
    cursor: pointer;
}

.left_parent .scrollable_list {
    flex: 1;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}

.left_parent .scrollable_list>* {
    min-width: 0;
}

.mat-sidenav-container {
    flex: 1;
}

mat-sidenav {
    border-right: 1px solid var(--color-font-softer);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

mat-toolbar {
    border-bottom: 1px solid var(--color-font-softer);
    gap: 5px;
}

.left_parent .rearch_parent h4 {
    padding: 15px 15px 0 15px;
    margin: 0;

}

.left_parent .rearch_parent .filter_parent {
    text-align: center;
    flex: 1;
}

.item_parent {
    padding: 5px 16px;
    border-radius: 12px;
    margin-bottom: 8px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    transition: all .1s ease-in 0s;
    transform: scale(1);
}

.item_parent.selected {
    transform: scale(1.02);
    background-color: rgb(214, 236, 255);
}

.item_parent.question,
.item_parent.mail {
    background-color: rgb(255, 249, 212);
}

.item_parent.selected.question,
.item_parent.selected.mail {
    background-color: rgb(255, 245, 183);
}

.item_parent.question .txt,
.item_parent.mail .txt {
    color: rgb(177, 95, 0);
}

.item_parent .txt {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
    color: var(--mat-sys-primary);
}

.item_parent .button_elements {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.item_parent .button_elements .date {
    flex: 1;
}

.editor_parent {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

app-chatsession {
    width: 100%;
}

mat-tab-group {
    flex: 1;
}

.tab_content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.argument_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(191, 191, 191);
    padding: 13px 10px 10px 10px;
}

.argument_pair {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.argument_pair .fill_width {
    flex: 1;
}

.argument_pair .delete_action {
    cursor: pointer;
    padding-right: 10px;
}

.tool_arg_val {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding: 15px 10px 5px 10px;
}

.tool_arg_val pre {
    margin: 0;
    padding: 15px;
    font-weight: 700;
    background: aliceblue;
    border-radius: 15px;
}

.load_more_action {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 800px) {
    .content_wraper {
        padding: 30px 0;
        margin: 0 10px;
    }

    mat-sidenav {
        width: 300px;
    }

    .content_wraper {
        flex-direction: column;
    }

    .parent_content_wraper {
        padding: 5px;
    }
}