<div class="main_container">
    <app-side-menu [options]="menuOptions"></app-side-menu>
    <div class="secondary_container">
        <app-statusbar [title]="'Alter Ego'"></app-statusbar>
        <div class="dynamic_content">
            <div class="content_wraper">
                <mat-card class="mat-mdc-card mdc-card">
                    <mat-card-content class="flex_horizontal_gap_10">
                        <button matButton="elevated" (click)="echo()">Echo</button>
                        <button matButton="elevated" (click)="initialize()">Initialize</button>
                        <button matButton="elevated" (click)="search()">Search</button>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-mdc-card mdc-card full_height overflow_hidden">
                    <mat-sidenav-container>
                        <mat-sidenav #sidenav mode="side" opened>
                            <div class="left_parent">
                                <div class="rearch_parent">
                                    <app-search-input (search)="searchKnowledge($event)"></app-search-input>
                                </div>
                                <div class="scrollable_list">
                                    <h4 class="text-base">All knowledge</h4>
                                    @for (item of knowledge; track item.created) {
                                    <span [ngClass]="{'selected': currentSelected == item}" class="item_parent text-xs"
                                        (click)="selectThisKnowledge(item)">
                                        <span class="txt">{{ item.txt }}</span>
                                        <span class="button_elements">
                                            <span class="date">{{ item.created | epochDate:'DD MMMM YYYY, HH:mm'
                                                }}</span>
                                            <mat-icon class="xs"
                                                (click)="deleteKnowledge(item, $event)">delete</mat-icon>
                                        </span>
                                    </span>
                                    }
                                </div>
                            </div>
                        </mat-sidenav>
                        <mat-sidenav-content>
                            <mat-toolbar>
                                <button matIconButton aria-label="">
                                    <mat-icon (click)="toggle()">menu</mat-icon>
                                </button>
                                <span class="full_width"></span>
                                <button matButton="elevated" (click)="addKnowledge()">Add knowledge</button>
                            </mat-toolbar>
                            @if (currentSelected != null) {
                            <div class="editor_parent">
                                <app-form-simple-without (innerModelChanged)="editionMade($event)" [model]="model" [fields]="fields"></app-form-simple-without>
                            </div>
                            }
                        </mat-sidenav-content>
                    </mat-sidenav-container>
                </mat-card>
            </div>
        </div>
    </div>
</div>