<div class="main_container">
    <app-side-menu [options]="menuOptions"></app-side-menu>
    <div class="secondary_container">
        <app-statusbar [title]="getTitle()"></app-statusbar>
        <div class="dynamic_content">
            <div class="parent_content_wraper">
                <div class="content_wraper">
                    <mat-card class="mat-mdc-card mdc-card full_height overflow_hidden">
                        <mat-tab-group class="with_flex_column">
                            <mat-tab label="Facts">
                                <div class="tab_content">
                                    <mat-sidenav-container>
                                        <mat-sidenav #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'"
                                            [opened]="(isHandset$ | async) === false">
                                            <div class="left_parent">
                                                <div class="rearch_parent">
                                                    <h4 class="text-base">Facts</h4>
                                                    <div class="filter_parent">
                                                        @if (searchedResult != null) {
                                                        <mat-icon (click)="clearFilter()">restart_alt</mat-icon>
                                                        }
                                                    </div>
                                                    <mat-icon (click)="toggle()">close</mat-icon>
                                                </div>
                                                <div class="scrollable_list">
                                                    @for (item of knowledgeFiltered; track item.created; let i = $index)
                                                    {
                                                    <span
                                                        [ngClass]="{'selected': currentSelected == item, 'question': item.type=='question'}"
                                                        class="item_parent text-xs" (click)="selectThisKnowledge(item)">
                                                        <span class="txt">
                                                            @if (getDistanceFromIndex(i) > 0) {
                                                            <strong class="distance">{{
                                                                (100*getDistanceFromIndex(i)).toFixed(0)+'%
                                                                - '
                                                                }}</strong>
                                                            }
                                                            <span>{{ item.txtFormat }}</span>
                                                        </span>
                                                        <span class="button_elements">
                                                            <span class="date">{{ item.created | epochDate:'DD MMMM
                                                                YYYY, HH:mm'
                                                                }}</span>
                                                            <mat-icon class="xs"
                                                                (click)="deleteKnowledge(item, $event)">delete</mat-icon>
                                                        </span>
                                                    </span>
                                                    }
                                                </div>
                                            </div>
                                        </mat-sidenav>
                                        <mat-sidenav-content>
                                            <mat-toolbar>
                                                <button matIconButton aria-label="">
                                                    <mat-icon (click)="toggle()">menu</mat-icon>
                                                </button>
                                                <span class="full_width"></span>
                                                @if (pendingToSave.length > 0) {
                                                <button matButton="elevated" (click)="savePending()">
                                                    <mat-icon>save</mat-icon>
                                                    Save</button>
                                                }
                                                <button matButton="elevated" (click)="addKnowledge()">
                                                    <mat-icon>add</mat-icon>
                                                    Add fact</button>
                                            </mat-toolbar>
                                            @if (currentSelected != null) {
                                            <div class="editor_parent">
                                                <app-form-simple-without (innerFieldChanged)="editionMade($event)"
                                                    [model]="model" [fields]="fields"></app-form-simple-without>
                                            </div>
                                            }
                                        </mat-sidenav-content>
                                    </mat-sidenav-container>
                                </div>
                            </mat-tab>

                            <mat-tab label="Tools">
                                <div class="tab_content">
                                    <h3>Privacy & Security</h3>
                                    <p>This content is completely different and belongs to the second tab.</p>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </mat-card>
                    @if (collection) {
                    <mat-card class="mat-mdc-card mdc-card">
                        <mat-card-content class="flex_horizontal_gap_10 full_height">
                            <app-chatsession [config]="chatConfig" [language]="language" [top]="top"
                                [distance]="distance" [knowledge]="knowledge" [lastModified]="lastModified"
                                [assistant]="collection" (foundFacts)="receiveSearch($event)"
                                [useIndicator]="false"></app-chatsession>
                        </mat-card-content>
                    </mat-card>
                    }
                </div>
            </div>
        </div>
    </div>
</div>