<div class="main_container">
    <app-side-menu [options]="menuOptions"></app-side-menu>
    <div class="secondary_container">
        <app-statusbar [title]="getTitle()"></app-statusbar>
        <div class="dynamic_content">
            <div class="parent_content_wraper">
                <div class="content_wraper">
                    <mat-card class="mat-mdc-card mdc-card full_height overflow_hidden">
                        <mat-tab-group class="with_flex_column">
                            <!-- Facts tab -->
                            <mat-tab label="Facts">
                                <div class="tab_content">
                                    <mat-sidenav-container autosize>
                                        <mat-sidenav #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'"
                                            [opened]="(isHandset$ | async) === false">
                                            <div class="left_parent">
                                                <div class="rearch_parent">
                                                    <h4 class="text-base">Facts list</h4>
                                                    <div class="filter_parent">
                                                        @if (searchedResult.length > 0) {
                                                        <mat-icon (click)="clearFilter()">restart_alt</mat-icon>
                                                        }
                                                    </div>
                                                    <mat-icon (click)="toggle()">close</mat-icon>
                                                </div>
                                                <div class="scrollable_list">
                                                    @for (item of knowledgeFiltered; track item.created; let i = $index)
                                                    {
                                                    <span
                                                        [ngClass]="{'selected': currentSelected == item, 'question': item.type=='question'}"
                                                        class="item_parent text-xs" (click)="selectThisKnowledge(item)">
                                                        <span class="txt">
                                                            @if (getDistanceFromIndex(i) > 0) {
                                                            <strong class="distance">{{
                                                                (100*getDistanceFromIndex(i)).toFixed(0)+'%
                                                                - '
                                                                }}</strong>
                                                            }
                                                            <span>{{ item.txtFormat }}</span>
                                                        </span>
                                                        <span class="button_elements">
                                                            <span class="date">{{ item.created | epochDate:'DD MMMM
                                                                YYYY, HH:mm'
                                                                }}</span>
                                                            <mat-icon class="xs"
                                                                (click)="deleteKnowledge(item, $event)">delete</mat-icon>
                                                        </span>
                                                    </span>
                                                    }
                                                    <span class="load_more_action" (click)="pageAllFacts()">Load more...</span>
                                                </div>
                                            </div>
                                        </mat-sidenav>
                                        <mat-sidenav-content>
                                            <mat-toolbar>
                                                <button matIconButton aria-label="">
                                                    <mat-icon (click)="toggle()">menu</mat-icon>
                                                </button>
                                                <span class="full_width">
                                                    <app-search-input (search)="searchFact($event)"></app-search-input>
                                                </span>
                                                @if (pendingToSave.length > 0 || toolsPendingToSave.length > 0 ||
                                                articlesPendingToSave.length > 0) {
                                                <button matButton="elevated" (click)="savePending()">
                                                    <mat-icon>save</mat-icon>
                                                    Save</button>
                                                }
                                                <button matButton="elevated" (click)="addKnowledge()">
                                                    <mat-icon>add</mat-icon>
                                                    Add fact</button>
                                            </mat-toolbar>
                                            @if (currentSelected != null) {
                                            <div class="editor_parent">
                                                <app-form-simple-without (innerFieldChanged)="editionMade($event)"
                                                    [model]="model" [fields]="fields"></app-form-simple-without>
                                            </div>
                                            }
                                        </mat-sidenav-content>
                                    </mat-sidenav-container>
                                </div>
                            </mat-tab>
                            <!-- Tools tab -->
                            <mat-tab label="Tools">
                                <div class="tab_content">
                                    <mat-sidenav-container autosize>
                                        <mat-sidenav #sidenavTools [mode]="(isHandset$ | async) ? 'over' : 'side'"
                                            [opened]="(isHandset$ | async) === false">
                                            <div class="left_parent">
                                                <div class="rearch_parent">
                                                    <h4 class="text-base">Tools list</h4>
                                                    <div class="filter_parent">
                                                        @if (searchedToolsResult.length > 0) {
                                                        <mat-icon (click)="clearFilter()">restart_alt</mat-icon>
                                                        }
                                                    </div>
                                                    <mat-icon (click)="toggle()">close</mat-icon>
                                                </div>
                                                <div class="scrollable_list">
                                                    @for (item of toolsFiltered; track item.created; let i = $index)
                                                    {
                                                    <span
                                                        [ngClass]="{'selected': currentToolSelected == item, 'mail': item.type=='mail'}"
                                                        class="item_parent text-xs" (click)="selectThisTool(item)">
                                                        <span class="txt">
                                                            <span>{{ item.name }}</span>
                                                        </span>
                                                        <span class="button_elements">
                                                            <span class="date">{{ item.created | epochDate:'DD MMMM
                                                                YYYY, HH:mm'
                                                                }}</span>
                                                            <mat-icon class="xs"
                                                                (click)="deleteTool(item, $event)">delete</mat-icon>
                                                        </span>
                                                    </span>
                                                    }
                                                </div>
                                            </div>
                                        </mat-sidenav>
                                        <mat-sidenav-content>
                                            <mat-toolbar>
                                                <button matIconButton aria-label="">
                                                    <mat-icon (click)="toggle()">menu</mat-icon>
                                                </button>
                                                <span class="full_width"></span>
                                                @if (pendingToSave.length > 0 || toolsPendingToSave.length > 0 ||
                                                articlesPendingToSave.length > 0 || historyPendingToSave.length > 0) {
                                                <button matButton="elevated" (click)="savePending()">
                                                    <mat-icon>save</mat-icon>
                                                    Save</button>
                                                }
                                                <button matButton="elevated" (click)="addTool()">
                                                    <mat-icon>add</mat-icon>
                                                    Add tool</button>
                                            </mat-toolbar>
                                            @if (currentToolSelected != null) {
                                            <div class="editor_parent">
                                                <app-form-simple-without (innerFieldChanged)="toolEditionMade($event)"
                                                    [model]="toolModel" [fields]="toolFields"></app-form-simple-without>
                                                <h2>Arguments:</h2>
                                                @for(arg of currentToolSelected.args; track arg;) {
                                                <div class="argument_container">
                                                    <div class="argument_pair">
                                                        <mat-checkbox [(ngModel)]="arg.required"
                                                            (ngModelChange)="refreshArguments()">
                                                            Required
                                                        </mat-checkbox>
                                                        <mat-form-field appearance="outline" class="full_height">
                                                            <mat-label>Type</mat-label>
                                                            <mat-select [(ngModel)]="arg.type"
                                                                (ngModelChange)="refreshArguments()">
                                                                <mat-option *ngFor="let option of argumentTypes"
                                                                    [value]="option.val">{{ option.txt }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <mat-form-field appearance="outline" class="w-full fill_width"
                                                            subscriptSizing="dynamic">
                                                            <mat-label>Name</mat-label>
                                                            <input matInput [(ngModel)]="arg.name" required
                                                                (ngModelChange)="refreshArguments()" />
                                                        </mat-form-field>
                                                        <mat-icon class="delete_action"
                                                            (click)="removeArgument(arg)">delete</mat-icon>
                                                    </div>
                                                    <div class="argument_pair">
                                                        <mat-form-field appearance="outline" class="w-full"
                                                            subscriptSizing="dynamic">
                                                            <mat-label>Description</mat-label>
                                                            <input matInput [(ngModel)]="arg.desc"
                                                                (ngModelChange)="refreshArguments()" />
                                                        </mat-form-field>
                                                    </div>
                                                    @if (currentToolSelected.affectModel === true) {
                                                    <div class="argument_pair">
                                                        <mat-form-field appearance="outline" class="w-full fill_width"
                                                            subscriptSizing="dynamic">
                                                            <mat-label>Model path</mat-label>
                                                            <input matInput [(ngModel)]="arg.modelPath" required
                                                                (ngModelChange)="refreshArguments()" />
                                                        </mat-form-field>
                                                        <mat-checkbox [(ngModel)]="arg.modelIsArray"
                                                            (ngModelChange)="refreshArguments()">
                                                            Is multiple?
                                                        </mat-checkbox>
                                                    </div>
                                                    }
                                                    @if (arg.val !== undefined) {
                                                    <div class="tool_arg_val">
                                                        <pre>{{ arg.val | json }}</pre>
                                                    </div>
                                                    }
                                                </div>
                                                }
                                                <button matButton="elevated" (click)="addArgument()">
                                                    <mat-icon>add</mat-icon>
                                                    Add argument</button>
                                            </div>
                                            }
                                        </mat-sidenav-content>
                                    </mat-sidenav-container>
                                </div>
                            </mat-tab>
                            <!-- Catalog tab -->
                            <mat-tab label="Articles">
                                <div class="tab_content">
                                    <mat-sidenav-container autosize>
                                        <mat-sidenav #sidenavArticles [mode]="(isHandset$ | async) ? 'over' : 'side'"
                                            [opened]="(isHandset$ | async) === false">
                                            <div class="left_parent">
                                                <div class="rearch_parent">
                                                    <h4 class="text-base">Article list</h4>
                                                    <div class="filter_parent">
                                                        @if (searchedArticleResult.length > 0) {
                                                        <mat-icon (click)="clearFilter()">restart_alt</mat-icon>
                                                        }
                                                    </div>
                                                    <mat-icon (click)="toggle()">close</mat-icon>
                                                </div>
                                                <div class="scrollable_list">
                                                    @for (item of articlesFiltered; track item.created; let i = $index)
                                                    {
                                                    <span [ngClass]="{'selected': currentArticleSelected == item}"
                                                        class="item_parent text-xs" (click)="selectThisArticle(item)">
                                                        <span class="txt">
                                                            <span>{{ item.desc }}</span>
                                                        </span>
                                                        <span class="button_elements">
                                                            <span class="date">{{ item.created | epochDate:'DD MMMM
                                                                YYYY, HH:mm'
                                                                }}</span>
                                                            <mat-icon class="xs"
                                                                (click)="deleteArticle(item, $event)">delete</mat-icon>
                                                        </span>
                                                    </span>
                                                    }
                                                </div>
                                            </div>
                                        </mat-sidenav>
                                        <mat-sidenav-content>
                                            <mat-toolbar>
                                                <button matIconButton aria-label="">
                                                    <mat-icon (click)="toggle()">menu</mat-icon>
                                                </button>
                                                <span class="full_width">
                                                    <app-search-input
                                                        (search)="searchArticle($event)"></app-search-input>
                                                </span>
                                                @if (pendingToSave.length > 0 || toolsPendingToSave.length > 0 ||
                                                articlesPendingToSave.length > 0 || historyPendingToSave.length > 0) {
                                                <button matButton="elevated" (click)="savePending()">
                                                    <mat-icon>save</mat-icon>
                                                    Save</button>
                                                }
                                                <button matButton="elevated" (click)="addArticle()">
                                                    <mat-icon>add</mat-icon>
                                                    Add article</button>
                                            </mat-toolbar>
                                            @if (currentArticleSelected != null) {
                                            <div class="editor_parent">
                                                <app-form-simple-without #article_form
                                                    (innerFieldChanged)="articleEditionMade($event)"
                                                    [model]="articleModel"
                                                    [fields]="articleFields"></app-form-simple-without>
                                            </div>
                                            }
                                        </mat-sidenav-content>
                                    </mat-sidenav-container>
                                </div>
                            </mat-tab>
                            <!-- History tab -->
                            <mat-tab label="History">
                                <div class="tab_content">
                                    <mat-sidenav-container autosize>
                                        <mat-sidenav #sidenavHistory [mode]="(isHandset$ | async) ? 'over' : 'side'"
                                            [opened]="(isHandset$ | async) === false">
                                            <div class="left_parent">
                                                <div class="rearch_parent">
                                                    <h4 class="text-base">History list</h4>
                                                    <div class="filter_parent"></div>
                                                    <mat-icon (click)="toggle()">close</mat-icon>
                                                </div>
                                                <div class="scrollable_list">
                                                    @for (item of historyFiltered; track item.created; let i = $index)
                                                    {
                                                    <span [ngClass]="{'selected': currentHistorySelected == item}"
                                                        class="item_parent text-xs" (click)="selectThisHistory(item)">
                                                        <span class="txt">
                                                            <span>{{ item.desc }}</span>
                                                        </span>
                                                        <span class="button_elements">
                                                            <span class="date">{{ item.created | epochDate:'DD MMMM
                                                                YYYY, HH:mm'
                                                                }}</span>
                                                            <mat-icon class="xs"
                                                                (click)="deleteHistory(item, $event)">delete</mat-icon>
                                                        </span>
                                                    </span>
                                                    }
                                                </div>
                                            </div>
                                        </mat-sidenav>
                                        <mat-sidenav-content>
                                            <mat-toolbar>
                                                <button matIconButton aria-label="">
                                                    <mat-icon (click)="toggle()">menu</mat-icon>
                                                </button>
                                                <span class="full_width">
                                                </span>
                                                @if (pendingToSave.length > 0 || toolsPendingToSave.length > 0 ||
                                                articlesPendingToSave.length > 0 || historyPendingToSave.length > 0) {
                                                <button matButton="elevated" (click)="savePending()">
                                                    <mat-icon>save</mat-icon>
                                                    Save</button>
                                                }
                                            </mat-toolbar>
                                            @if (currentHistorySelected != null) {
                                            <div class="editor_parent">
                                                <app-form-simple-without
                                                    (innerFieldChanged)="historyEditionMade($event)"
                                                    [model]="historyModel"
                                                    [fields]="historyFields"></app-form-simple-without>
                                            </div>
                                            }
                                        </mat-sidenav-content>
                                    </mat-sidenav-container>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </mat-card>
                    @if (collection) {
                    <mat-card class="mat-mdc-card mdc-card">
                        <mat-card-content class="flex_horizontal_gap_10 full_height">
                            <app-chatsession [config]="chatConfig" [language]="language" [top]="top"
                                [distance]="distance" [knowledge]="knowledge" [tools]="tools"
                                [lastModified]="lastModified" [assistant]="collection"
                                (foundFacts)="receiveSearch($event)" (foundTools)="receiveToolSearch($event)"
                                (foundArticles)="receiveArticleSearch($event)" (startSearch)="receiveStartSearching()"
                                [useIndicator]="false"></app-chatsession>
                        </mat-card-content>
                    </mat-card>
                    }
                </div>
            </div>
        </div>
    </div>
</div>