<div class="editable-wrapper visible"
    [ngClass]="{'focused': focused, 'preview':editMode=='preview', 'both':editMode=='both'}">
    @if (label) {
    <span>{{ label }} ({{charCount()}}):</span>
    }
    <!-- Toolbar -->
    <div class="toolbar">
        @if (["preview"].indexOf(editMode) >= 0) {
        <button type="button" (click)="setEditMode('both')" aria-label="Edit">
            <span>✏️</span>
        </button>
        } @else {
        <button type="button" (click)="setEditMode('preview')" aria-label="Preview">
            <span>👁️</span>
        </button>
        }

        @if (["edit", "both"].indexOf(editMode) >= 0) {
        <button type="button" (mousedown)="format('bold', $event)" aria-label="Bold">
            <b>B</b>
        </button>
        <button type="button" (mousedown)="format('italic', $event)" aria-label="Italic">
            <i>It</i>
        </button>
        <button type="button" (mousedown)="openEmoticons()" aria-label="Emoticon">
            <span>😎</span>
        </button>
        }
        <button type="button" (mousedown)="exportPDF()" aria-label="Download pdf">
            <span>🖨️</span>
        </button>
    </div>
    <div class="parent_preview"
        [ngStyle]="{'min-height': (minHeight ? minHeight : 'unset'), 'max-height': (maxHeight ? maxHeight : 'unset')}">

        <div #scrollContainer class="parent_content fill_width"
            [ngClass]="{'invisible': ['preview'].indexOf(editMode) >= 0}">
            <div #editable [ngClass]="{'with_focus': focused}" class="editable-input" contenteditable="true"
                role="textbox" aria-multiline="false" [attr.data-placeholder]="placeholder" [class.empty]="!value"
                [class.disabled]="disabled" [attr.tabindex]="disabled ? -1 : 0" (focus)="onFocus()" (blur)="onBlur()"
                (input)="onInput()" (keyup)="saveSelection()" (mouseup)="saveSelection()" (paste)="onPaste($event)">
            </div>
        </div>
        <div #printed_element class="preview_scroll_content fill_width" [innerHTML]="preview">

        </div>
    </div>
</div>