<div class="navigation_parent animated" [ngClass]="{'open': opened, 'close': !opened}">
    <div class="logo_parent">
        <div class="logo_parent_stretch">
            <img [src]="logoImage">
        </div>
        <mat-icon class="close_icon" (click)="close()">close</mat-icon>
    </div>
    <div class="items_scroll_parent">
        <div class="items_parent noselect">
            <ul>
                @for(option of options; track option.label) {
                @if (option.visible !== false) {
                <li>
                    <div class="title" (click)="callItem(option)" [ngClass]="{'in_use': option.inUse}">
                        @if (option.icon) {
                        @if (option.isPlainIcon === true) {
                        <span>{{ option.icon }}</span>
                        } @else {
                        <mat-icon>{{ option.icon }}</mat-icon>
                        }
                        }
                        @if (option.translateFolder) {
                        <span class="label">{{ option.label | translate : option.translateFolder | async }}</span>
                        } @else {
                        <span class="label">{{ option.label }}</span>
                        }
                    </div>
                    <ul class="second_level">
                        @for(option2 of option.children; track option2.label) {
                        @if (option2.visible !== false) {
                        <li>
                            <div class="title higlight" (click)="toggleChildren(option2, $event)"
                                [ngClass]="{'in_use': option2.inUse}">
                                @if (option2.icon) {
                                @if (option2.isPlainIcon === true) {
                                <span>{{ option2.icon }}</span>
                                } @else {
                                <mat-icon>{{ option2.icon }}</mat-icon>
                                }
                                }
                                <span class="label">{{ option2.label }}</span>
                                @if (option2.children && option2.children.length > 0) {
                                @if (option2.opened) {
                                <mat-icon class="toggle_children">keyboard_arrow_down</mat-icon>
                                } @else {
                                <mat-icon class="toggle_children">keyboard_arrow_up</mat-icon>
                                }
                                }
                            </div>
                            @if (option2.opened) {
                            <ul class="second_level">
                                @for(option3 of option2.children; track option3.label) {
                                @if (option3.visible !== false) {
                                <li>
                                    <div class="title higlight" (click)="callItem(option3)"
                                        [ngClass]="{'in_use': option3.inUse}">
                                        @if (option3.icon) {
                                        @if (option3.isPlainIcon === true) {
                                        <span>{{ option3.icon }}</span>
                                        } @else {
                                        <mat-icon>{{ option3.icon }}</mat-icon>
                                        }
                                        }
                                        <span class="label">{{ option3.label }}</span>
                                    </div>
                                </li>
                                }
                                }
                            </ul>
                            }
                        </li>
                        }
                        }
                    </ul>
                </li>
                }
                }
            </ul>
        </div>
    </div>
</div>