.navigation_parent {
    width: 260px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: white;
    z-index: 10;
}

.animated {
    transition: width 0.5s ease;
}

.navigation_parent.close {
    width: 80px;
}

.navigation_parent .logo_parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
}

.navigation_parent.close .logo_parent {
    padding: 10px 10px;
}

.navigation_parent .logo_parent img {
    max-height: 50px;
    max-width: 100%;
    height: fit-content;
}

.logo_parent_stretch {
    flex: 1;
}

.close_icon {
    display: none;
}

.items_scroll_parent {
    flex: 1;
    overflow-y: scroll;
    padding-left: 5px;
}

.items_parent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--color-font-soft);
}

.items_parent li {
    display: flex;
    flex-direction: column;
}

.items_parent li .title {
    padding: 11px 16px;
    border-radius: 10px;
}

.items_parent li .title.higlight:hover {
    background-color: var(--color-font-light);
    color: black;
}

.items_parent li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navigation_parent .items_parent li span {
    flex: 1;
}

.navigation_parent.close .items_parent li span,
.navigation_parent.close .toggle_children {
    display: none;
}

.items_parent ul.second_level {
    padding-left: 20px;
}

.navigation_parent.close .items_parent ul {
    padding-left: 0 !important;
}

// First level

.items_parent>ul {}

.items_parent>ul>li {}

@media (max-width: 800px) {
    .navigation_parent {
        position: absolute;
        width: 80vw;
        left: -80vw;
        transition: left 0.5s ease;
    }

    .navigation_parent.open {
        left: 0;
        width: 80vw;
    }

    .navigation_parent.close {
        width: 80vw;
    }

    .close_icon {
        display: block;
    }
}