<h2 mat-dialog-title>Editar Niveles</h2>

<mat-dialog-content class="dialog_content text_size_x2">
    <mat-tab-group class="full-width no_tab_scroll">

        <mat-tab label="General">
            <form [formGroup]="generalForm" class="tab_content">
                <div formArrayName="modes">
                    @for (modeGroup of modes.controls; track modeGroup; let modeIndex = $index) {
                    <mat-card class="step_card gap_20" [formGroupName]="modeIndex">
                        <mat-card-header class="mat_car_header_title_centered">
                            <mat-card-title class="step_title highligted_text">
                                <span>Nivel {{ modeIndex + 1 }}</span>
                            </mat-card-title>
                            <div class="full_width"></div>
                            @if (modeIndex != (modes.controls.length - 1)) {
                            <button mat-icon-button color="warn" type="button" matTooltip="Mover abajo"
                                (click)="modeModeDown(modeIndex)">
                                <mat-icon>keyboard_double_arrow_down</mat-icon>
                            </button>
                            }
                            @if (modeIndex > 0) {
                            <button mat-icon-button color="warn" type="button" matTooltip="Mover arriba"
                                (click)="modeModeUp(modeIndex)">
                                <mat-icon>keyboard_double_arrow_up</mat-icon>
                            </button>
                            }
                            @if (modes.controls.length > 1) {
                            <button mat-icon-button color="warn" type="button" matTooltip="Eliminar nivel"
                                (click)="removeMode(modeIndex)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            }
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
                                <mat-label>Nombre</mat-label>
                                <input matInput [formControlName]="'name'" />
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                    }
                </div>
            </form>
        </mat-tab>

    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button color="primary" type="button" (click)="addMode()">
        <mat-icon>add</mat-icon>
        Agregar
    </button>

    <button mat-button (click)="cancel()">
        <mat-icon>close</mat-icon>
        Cancelar
    </button>

    <button mat-flat-button color="primary" (click)="save()">
        <mat-icon>check</mat-icon>
        Guardar
    </button>
</mat-dialog-actions>