.vertical_parent {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.horizontal_panel {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fill_width {
    flex: 1;
}

.fix_min_width {
    min-width: 0;
}

.fix_audio {
    display: block;
    flex: 1 1 0;
    max-width: 100%;
    box-sizing: border-box;
}

.full_width {
    width: 100%;
}

.edit_icon {
    cursor: pointer;
}

.edit_icon:hover {
    color: rgb(0, 39, 72);
}