<div class="vertical_parent full_width fix_min_width">
    <div class="horizontal_panel">
        <span class="fill_width">{{ label }}</span>
        <mat-icon (click)="askForEdit()" class="edit_icon">search</mat-icon>
        @if (getAudioUrl() != null) {
        <mat-icon (click)="eraseBlob()" class="edit_icon">cancel</mat-icon>
        }
    </div>
    @if (getAudioUrl() != null) {
    <div class="horizontal_panel full_width fix_min_width">
        <audio controls class="fill_width full_width fix_min_width fix_audio" [src]="getAudioUrl()"></audio>
    </div>
    }
</div>