<div class="vertical_parent full_width">
    <div class="horizontal_panel">
        <mat-icon (click)="askForEdit()" class="edit_icon">search</mat-icon>
        <span class="fill_width">{{ label }}</span>
        @if (getAudioUrl() != null) {
        <mat-icon (click)="eraseBlob()" class="edit_icon">cancel</mat-icon>
        }
    </div>
    @if (getAudioUrl() != null) {
    <div class="horizontal_panel full_width">
        <audio controls class="fill_width" [src]="getAudioUrl()"></audio>
    </div>
    }
</div>