.words_space {
    text-align: center;
    max-width: 100%;
}

.one_word {
    font-size: 2em;
}

.lang_option {
    padding: 5px;
    border-radius: 5px;
}

.higlighted {
    font-weight: bold;
    background: rgb(117, 117, 117);
    color: white;
}

.verse_higlight {
    font-size: 1.2em;
    cursor: pointer;
    margin: 0px;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 15px;
}

.verse_higlight span {
    padding: 15px;
}

.verse_higlight.current {
    color: aliceblue;
    background-color: rgb(0, 36, 68);
}

.song_container {
    gap: 10px;
    padding: 10px 10px 0 10px;
}

.allow_select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: default;
}

.verse_higlight * {
    display: inline;
}