.words_space {
    text-align: center;
    max-width: 100%;
}

.one_word {
    font-size: 2em;
}

.lang_option {
    padding: 5px;
    border-radius: 5px;
}

.higlighted {
    font-weight: bold;
    background: rgb(117, 117, 117);
    color: white;
}

.verse_higlight {
    font-size: 1.2em;
    cursor: pointer;
    margin: 0px;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 15px;
    position: relative;
}

.verse_higlight>* {
    position: relative;
    z-index: 2;
}

.back_color_parent {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

.verse_higlight > .back_color_parent {
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    display: none;
}

.verse_higlight.current > .back_color_parent {
    display: inline;
}

.back_color {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 36, 68);
    transition: width 0.3s linear;
}

.verse_higlight.current {
    color: aliceblue;
    background-color: rgb(0, 68, 127);
}

.verse_higlight.missed {
    background-color: rgb(255, 221, 221);
}

.verse_higlight span {
    padding: 15px 5px;
}

.song_container {
    gap: 10px;
    padding: 10px 10px 0 10px;
}

.allow_select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: default;
}

.verse_higlight * {
    display: inline;
}

.verse_higlight.editing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.millis_button {
    cursor: pointer;
}

.fade-white-to-black {
    color: white;
    animation: fadeText 1s ease-in-out forwards;
}

.millis_helper {
    font-size: 1em;
    padding: 3px;
    border-radius: 5px;
    width: 100px;
}

.button_simple.small mat-icon {
    font-size: 25px;
}

@keyframes fadeText {
    from {
        color: white;
    }

    to {
        color: black;
    }
}