<div class="full_screen container_vertical">
    @if (config == null) {
    <div class="container_horizontal gap_10 padding_20">
        @for (lang of langs; track lang.id) {
        <span class="hand lang_option" [ngClass]="{'higlighted': lang.id==currentLang}"
            (click)="defineLanguage(lang)">{{ lang.icon }} {{
            lang.label }}</span>
        }
    </div>
    }
    <div class="song_container full use_vertical_scroll container_vertical hcentered" (click)="toggleSongFromBack()"
        #parentContainer>
        @for (verse of config?.lyric; track verse) {
        <span class="text_centered verse_higlight"
            [ngClass]="{'current': verse.selected === true, 'editing': editing, 'missed': !verse.millis}" #child>
            <span (click)="playVerse1($event, verse)">💬</span>
            @if (editing) {
            <app-editable-input [discrete]="true" [(ngModel)]="verse.txt"></app-editable-input>
            <!--input class="millis_helper" (click)="inputClick($event)" type="number" [(ngModel)]="verse.millis"-->
            <button class="button_simple small font_green" (click)="pinMillis(verse)"><mat-icon
                    class="white">alarm_on</mat-icon></button>
            <button class="button_simple small font_green" (click)="playVerse2($event, verse, true)"><mat-icon
                    class="white">arrow_back_2</mat-icon></button>
            } @else {
            <span (click)="playVerse2($event, verse)">{{ verse.txt }}</span>
            }
        </span>
        }
    </div>

    <div class="container_vertical position_relative padding_10">
        <span class="words_space">
            @for (word of words; track word.id) {
            <span [ngStyle]="{'color': word.color}" class="one_word white_subtitle">{{ word.word }} </span>
            }
        </span>
        <div class="container_horizontal centered vcentered">
            <app-on-off-toggle [onImageUrl]="'./assets/icons/star_on.svg'" [offImageUrl]="'./assets/icons/star_off.svg'"
                [label]="'Practice!'" [(ngModel)]="isTrainingMode"
                (ngModelChange)="toggledTraining($event)"></app-on-off-toggle>
            @if (!isPlaying) {
            <button class="button_simple font_green" (click)="startSong(millisTime)"><mat-icon
                    class="white">play_arrow</mat-icon></button>
            } @else {
            <button class="button_simple font_red" (click)="toggleSong()"><mat-icon
                    class="white">pause</mat-icon></button>
            }
            @if (editing) {
            <button class="button_simple font_green" (click)="copyContent()"><mat-icon
                    class="white">content_copy</mat-icon></button>
            }
            <h3 class="millis_button" [ngClass]="{'fade-white-to-black': isCopying}" (click)="copyMillis()">millis: {{
                millisTime }}</h3>
        </div>
        <app-fullscreen class="position_absolute bottom_right"></app-fullscreen>
    </div>
</div>