<div class="full_screen container_vertical">
    @if (config == null) {
    <div class="container_horizontal gap_10 padding_20">
        @for (lang of langs; track lang.id) {
        <span class="hand lang_option" [ngClass]="{'higlighted': lang.id==currentLang}"
            (click)="defineLanguage(lang)">{{ lang.icon }} {{
            lang.label }}</span>
        }
    </div>
    }
    <div class="song_container full use_vertical_scroll container_vertical hcentered" (click)="toggleSong()"
        #parentContainer>
        @for (verse of config?.lyric; track verse.txt) {
        <span class="text_centered verse_higlight" [ngClass]="{'current': verse.selected === true}" #child>
            <span (click)="playVerse1($event, verse)">💬</span>
            <span (click)="playVerse2($event, verse)">{{ verse.txt }}</span>
        </span>
        }
    </div>

    <div class="container_vertical padding_10">
        <span class="words_space">
            @for (word of words; track word.time) {
            <span [ngStyle]="{'color': word.color}" class="one_word white_subtitle">{{ word.word }} </span>
            }
        </span>
        <div class="container_horizontal centered vcentered">
            @if (!isPlaying) {
            <button class="button_simple font_green" (click)="startSong(millisTime)"><mat-icon
                    class="white">play_arrow</mat-icon></button>
            } @else {
            <button class="button_simple font_red" (click)="toggleSong()"><mat-icon
                    class="white">pause</mat-icon></button>
            }
            <h3 class="allow_select">millis: {{ millisTime }}</h3>
        </div>
    </div>
</div>