<div class="container_1">
    <table
        style="margin: 0 auto; width: 100%; border: 1px solid; border-radius: 15px; border-color: rgb(181, 181, 181); background-color: aliceblue;">
        <tbody>
            <tr>
                <td colspan="2" [style.background-image]="'url(' + content.urlImage + ')'"
                    style="padding: 40px 20px 0px 20px; border-top-left-radius: 13px; border-top-right-radius: 13px; background-position: center; background-size: cover;">
                    @if (edit) {
                    <app-editable-input class="main_title" [discrete]="true"
                        [(ngModel)]="content.title"></app-editable-input>
                    } @else {
                    <h2 class="main_title" [innerHTML]="titleHTML"></h2>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 20px; color: rgb(91, 91, 91);">
                    @if (edit) {
                    <app-md-input [(ngModel)]="content.content"></app-md-input>
                    } @else {
                    <p [innerHTML]="contentHTML"></p>
                    }
                    @if (typeof content.actionLabel == "string") {
                    <br />
                    <p style="text-align: center;">
                        @if (edit) {
                        <span class="action_button">
                            <app-editable-input [discrete]="true"
                                [(ngModel)]="content.actionLabel"></app-editable-input>
                        </span>
                        } @else {
                        <span class="action_button" [innerHTML]="labelHTML" (click)="actionFired()"></span>
                        }
                    </p>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2"
                    style="padding: 10px 20px 20px 20px; background-color: rgb(221, 221, 221); border-bottom-left-radius: 13px; border-bottom-right-radius: 13px;">
                    @if (edit) {
                    <app-md-input class="footer" [(ngModel)]="content.footer"></app-md-input>
                    } @else {
                    <p class="footer" [innerHTML]="footerHTML"></p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    @if (canEdit) {
    <div class="horizontal_panel">
        <app-on-off-toggle [(ngModel)]="edit" [label]="'Edit?'" [iconName]="'toggle'"></app-on-off-toggle>
        <button mat-flat-button color="primary" (click)="save()">
            <mat-icon>check</mat-icon>Save</button>
    </div>
    }
</div>