 .container_1 {
     margin: 0 15%;
     padding: 50px 0;
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 .main_title {
     margin-top: 0;
     color: #2f2f2f;
     font-size: 2.5rem !important;
     line-height: 2.7rem;
     text-shadow: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff,
         1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff, -1px 0 0 #fff;
     font-size: 2rem;
     margin-bottom: 27px;
     display: inline-block;
     background-color: rgba(255, 255, 255, 0.579);
     border-radius: 10px;
     padding: 10px;
 }

 .footer {
     text-align: center;
     color: rgb(113, 113, 113);
     font-size: 0.9rem;
 }

 .action_button {
     display: inline-block;
     color: white;
     background-color: black;
     padding: 10px 20px;
     text-decoration: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 1.1rem;
 }

 .horizontal_panel {
     display: flex;
     gap: 20px;
     align-items: center;
 }