<div style="margin: 0 15%; padding: 50px 0;">
    <table
        style="margin: 0 auto; width: 100%; border: 1px solid; border-radius: 15px; border-color: rgb(181, 181, 181); background-color: aliceblue;">
        <tbody>
            <tr>
                <td colspan="2" [style.background-image]="'url(' + content.urlImage + ')'"
                    style="padding: 40px 20px 0px 20px; border-top-left-radius: 13px; border-top-right-radius: 13px; background-position: center; background-size: cover;">
                    <h2 style="padding: 20px 0 15px 0; margin-top: 0; color: #2f2f2f;
    text-shadow: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff,
        1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff, -1px 0 0 #fff; font-size: 2rem;">
                        <app-editable-input style="text-align: center; color: rgb(113, 113, 113); font-size: 0.9rem;"
                            [discrete]="true" [(ngModel)]="content.title"></app-editable-input>
                    </h2>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 20px; color: rgb(91, 91, 91);">
                    <app-editable-input style="text-align: center; color: rgb(113, 113, 113); font-size: 0.9rem;"
                        [discrete]="true" [(ngModel)]="content.content"></app-editable-input>
                    <br />
                    <p style="text-align: center;">
                        <a style="color: white; background-color: black; padding: 10px 20px; text-decoration: none; border-radius: 10px; cursor: pointer;"
                            [href]="content.actionUrl">{{ content.actionLabel }}</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2"
                    style="padding: 10px 20px 20px 20px; background-color: rgb(221, 221, 221); border-bottom-left-radius: 13px; border-bottom-right-radius: 13px;">
                    <app-editable-input style="text-align: center; color: rgb(113, 113, 113); font-size: 0.9rem;"
                        [discrete]="true" [(ngModel)]="content.footer"></app-editable-input>
                </td>
            </tr>
        </tbody>
    </table>
</div>