 .container_1 {
     margin: 0 15%;
     padding: 50px 0;
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 .main_title {
     padding: 20px 0 15px 0;
     margin-top: 0;
     color: #2f2f2f;
     font-size: 2.5em;
     line-height: 1.2em;
     text-shadow: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff,
         1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff, -1px 0 0 #fff;
     font-size: 2rem;
     margin-bottom: 27px;
     display: block;
 }

 .footer {
     text-align: center;
     color: rgb(113, 113, 113);
     font-size: 0.9rem;
 }