<h2 mat-dialog-title>{{ config.title }}</h2>
<form [formGroup]="form" mat-dialog-content class="flex flex-col gap-4">
    <div formArrayName="dynamicFields">
        @for (field of config.fields; track field.key) {
        @if (field.type=='text') {
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ field.label }}</mat-label>
            <input matInput [formControl]="formControlMap[field.key]" />
        </mat-form-field>
        } @else if (field.type=='textarea') {
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ field.label }}</mat-label>
            <textarea matInput rows="4" [formControl]="formControlMap[field.key]"></textarea>
        </mat-form-field>
        } @else if (field.type=='contenteditable') {
        <app-editable-input [discrete]="false" [formControl]="formControlMap[field.key]"></app-editable-input>
        }
        }
    </div>
</form>
<mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">
        Save
    </button>
</mat-dialog-actions>