.image_parent {
    width: 100%;
    min-height: 250px;
    height: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.image_back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: 0;
}

.image_container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.image_container .cover {
    flex: 1;
}

.image_container .controls {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 15px;
}

.edit_icon {
    cursor: pointer;
}

.edit_icon:hover {
    color: rgb(141, 202, 255);
}