.image_container {
    width: 100%;
    min-height: 250px;
    height: 250px;
    max-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.image_container .cover {
    flex: 1;
}

.image_container .controls {
    display: flex;
    flex-direction: row;
    padding: 5px;
}