<div #myparent class="theparent full_screen background_white container_vertical"
    [ngClass]="{'invisible': viewState!=='photo'}">
    <canvas #mycanvas width="1" height="1">
        Tu navegador no admite el elemento &lt;canvas&gt;.
    </canvas>
</div>
<div class="hover_container full_screen container_vertical no_mouse">
    <div class="relleno"></div>
    <div class="speech_recognition_place">
        <span class="words_space">
            @for (word of words; track word.time) {
            <span [ngStyle]="{'color': word.color}" class="one_word white_subtitle">{{ word.word }} </span>
            }
        </span>
        @if (useStereo) {
        <span class="words_space">
            @for (word of words; track word.time) {
            <span [ngStyle]="{'color': word.color}" class="one_word white_subtitle">{{ word.word }} </span>
            }
        </span>
        }
    </div>

    <div class="controles container_horizontal gap_10 centered">
        <button (click)="setViewState('photo')" *ngIf="viewState!=='photo'">
            <mat-icon class="green">photo</mat-icon>
        </button>
    </div>
</div>
@if (viewState=='photo') {
<div class="top_right">
    @if (!isFullScreen) {
    <button (click)="setFullScreen(true)">
        <mat-icon class="white_subtitle">fullscreen</mat-icon>
    </button>
    } @else {
    <button (click)="setFullScreen(false)">
        <mat-icon class="white_subtitle">fullscreen_exit</mat-icon>
    </button>
    }
    @if (!useStereo) {
    <button (click)="toggleStereo()">
        <mat-icon class="white_subtitle">play_arrow</mat-icon>
    </button>
    } @else {
    <button (click)="toggleStereo()">
        <mat-icon class="white_subtitle">pause</mat-icon>
    </button>
    }
</div>
}