<div #myparent class="theparent full_screen background_white container_vertical"
    [ngClass]="{'invisible': viewState!=='photo', 'is_mobile': hasMobile}">
    <canvas #mycanvas width="1" height="1">
        Tu navegador no admite el elemento &lt;canvas&gt;.
    </canvas>
</div>
<div style="position: absolute; background-color: trasnsparent;">
    <pre style="background-color: white; z-index: 3; position: absolute; padding: 10px;" class="white_subtitle">{{ gyroData | json }}</pre>
</div>
<div #fadable_container class="hover_container fadable_background full_screen container_vertical no_mouse"
    [ngClass]="{'is_mobile': hasMobile, 'is_listening': isSystemListening}">
    <div class="status_bar" [ngClass]="{'is_stereo': useStereo}">
        <div class="status_bar_container">
            <app-statusbar [isListening]="isSystemListening" [progress]="listeningTimeoutPercentage"></app-statusbar>
        </div>
        @if (useStereo) {
        <div class="status_bar_container">
            <app-statusbar [isListening]="isSystemListening" [progress]="listeningTimeoutPercentage"></app-statusbar>
        </div>
        }
    </div>
    @if (useStereo) {
    <div class="vertical_separator no_mouse">
        <div class="vertical_line"></div>
    </div>
    }
    <div class="relleno">
        <div class="question_parent">
            @if (currentQuestion !== null) {
            <app-question [question]="currentQuestion"></app-question>
            @if (useStereo) {
            <app-question [question]="currentQuestion"></app-question>
            }
            }
        </div>
    </div>
    <div class="speech_recognition_place">
        <span class="words_space">
            @for (word of words; track word.time) {
            <span [ngStyle]="{'color': word.color}" class="one_word white_subtitle">{{ word.word }} </span>
            }
        </span>
        @if (useStereo) {
        <span class="words_space">
            <span class="one_word white_subtitle">&nbsp;</span>
            @for (word of words; track word.time) {
            <span [ngStyle]="{'color': word.color}" class="one_word white_subtitle">{{ word.word }} </span>
            }
        </span>
        }
    </div>

    <div class="controles container_horizontal gap_10 centered">
        <button (click)="setViewState('photo')" *ngIf="viewState!=='photo'">
            <mat-icon class="green">photo</mat-icon>
        </button>
    </div>
</div>
@if (viewState=='photo') {
<div class="top_right" [ngClass]="{'is_mobile': hasMobile}">
    @if (!isFullScreen) {
    <button (click)="setFullScreen(true)">
        <mat-icon class="white_subtitle">fullscreen</mat-icon>
    </button>
    } @else {
    <button (click)="setFullScreen(false)">
        <mat-icon class="white_subtitle">fullscreen_exit</mat-icon>
    </button>
    }
    @if (!useStereo) {
    <button (click)="toggleStereo()">
        <mat-icon class="white_subtitle">play_arrow</mat-icon>
    </button>
    } @else {
    <button (click)="toggleStereo()">
        <mat-icon class="white_subtitle">pause</mat-icon>
    </button>
    }
</div>
}
