// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;


:root {
    --mat-dialog-container-max-width: 80vw;
    --text-sm: 14px;
    --text-sm--line-height: 15px;
    --color-font-soft: #526b7a;
    --color-font-softer: #dcdcdc;
    --color-font-light: #f0f0f0;
    --mat-card-title-text-font: "Comfortaa", "Helvetica Neue", sans-serif;
    --mat-card-subtitle-text-font: "Comfortaa", "Helvetica Neue", sans-serif;



    --mat-sys-background: #fff;
    --mat-sys-surface-bright: #f2f6fa;
    --mat-sys-surface: #fff;
    --mat-sys-surface-container: #fff;
    --mat-sys-surface-container-low: #526b7a;
    --mat-sys-surface-container-lowest: #f6f7f9;
    --mat-sys-on-background: #29343d;
    --mat-sys-outline: #e0e6eb;
    --mat-sys-outline-variant: #e0e6eb;
    --mat-form-field-outlined-hover-outline-color: #e0e6eb;
    --mat-checkbox-unselected-hover-state-layer-color: #bdc3cd;
    --mat-menu-item-hover-state-layer-color: #f6f9fc;
    --mat-button-toggle-state-layer-color: #f6f9fc;
    --mat-option-focus-state-layer-color: #f6f9fc;
    --mat-option-hover-state-layer-color: #f6f9fc;
    --mat-slide-toggle-unselected-track-color: #f6f9fc;
    --mat-stepper-header-focus-state-layer-color: #f6f9fc;
    --mat-stepper-header-hover-state-layer-color: #f6f9fc;
    --mat-dialog-supporting-text-color: var(--mat-sys-on-background);
    --mat-expansion-header-hover-state-layer-color: #f6f9fc;
    --mat-card-elevated-container-color: #ffffff;
    --mat-card-elevated-container-color: #ffffff;
    --mat-card-elevated-container-shape: 12px;


    --mat-sys-level1: 0px 2px 4px -1px rgba(175, 182, 201, .2);
    --mat-sys-level2: 0 15px 30px rgba(0, 0, 0, .12);

    --mat-form-field-container-height: 40px;
}

* {
    font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;
}

html {
    overflow-x: hidden;
    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}

body {
    background-color: #ffffff;
    font-family: "Comfortaa", "Helvetica Neue", sans-serif;
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
}

h1 {
    line-height: 1em;
}

a {
    word-break: break-all;
}

.mat-h1,
.mat-headline-5,
.mat-typography .mat-h1,
.mat-typography .mat-headline-5,
.mat-typography h1 {
    font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

.text-sm {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
}

.nogalespopup.popup_1 mat-dialog-container {
    width: 608px;
    padding: 0;
}

.nogalespopup .mat-dialog-content {
    margin: 0;
    padding: 0;
}

.nogales_error {
    color: red;
    font-style: italic;
    font-weight: 100 !important;
}

mat-form-field.date_picker .mat-form-field-infix {
    display: flex;
}

.generic_icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: white;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 4px 1px #c7c8ca;
}

.invisible {
    display: none !important;
}

.white_subtitle {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000,
        1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.black_subtitle {
    color: #000;
    text-shadow: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff,
        1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff, -1px 0 0 #fff;
}

.outlined {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: white;
}

.noselect,
.no_select,
.no_caret {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    -moz-user-select: none;
    /* Firefox all */
    user-select: none;
    /* Standard syntax */
}

.no_mouse {
    pointer-events: none;
}

.si_mouse {
    pointer-events: all;
}

.manito {
    cursor: pointer;
}

.json-key {
    color: brown;
}

.json-value {
    color: navy;
}

.json-string {
    color: olive;
}

app-flowchart .mat-tab-body-wrapper {
    flex: 1;
    width: 100%;
    position: relative;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

.custom-emoji-picker .mat-mdc-dialog-container .mdc-dialog__surface,
.custom-emoji-picker-desktop .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px !important;
    overflow: hidden;
}

.custom-emoji-picker-desktop .emoji-grid {
    grid-template-columns: repeat(10, 1fr) !important;
}

mat-form-field.full_height>div,
mat-form-field.full_height>div>div,
mat-form-field.full_height>div>div>div,
mat-form-field.full_height>div>div>div>textarea {
    height: 100%;
}

mat-form-field.full_height .mat-form-field-subscript-wrapper {
    display: none;
}

.success_popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 403px;
    text-align: center;
    gap: 12px;
}

.success_popup img {
    width: 70px;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.flex.flex-col {
    flex-direction: column;
}

.flex.gap-4 {
    gap: 4px;
}

[mat-dialog-content]>mat-form-field,
[mat-dialog-content]>div[formArrayName]>mat-form-field:first-child {
    padding-top: 16px;
}

button.icon_only mat-icon {
    margin-right: 0 !important;
}

.mdc-evolution-chip-set__chips {
    padding-bottom: 10px;
}

.position_absolute {
    position: absolute;
}

.position_absolute.bottom_right {
    right: 10px;
    bottom: 10px;
}

.position_absolute.bottom_left {
    left: 10px;
    bottom: 10px;
}

.position_relative {
    position: relative;
}

button.transparent {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.mat-mdc-form-field .mdc-notched-outline__leading {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.mat-mdc-form-field .mdc-notched-outline__trailing {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mat-mdc-form-field .mat-mdc-form-field-infix {
  padding: 9px 5px !important;
}

@media (max-width: 800px) {
    .nogalespopup {
        max-width: 90vw;
        max-height: 90vh;
    }
}

@media (orientation: landscape) {
    app-webcam .webcam-wrapper {
        height: 100vh;
        width: 100%;
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    app-webcam video,
    app-webcam img {
        width: auto !important;
        height: 100% !important;
    }
}

@media (orientation: portrait) {
    app-webcam .webcam-wrapper {
        width: 100vw;
        height: 100%;
        display: flex !important;
        flex-direction: row;
        align-items: center;
    }

    app-webcam video,
    app-webcam img {
        width: 100% !important;
        height: auto !important;
    }
}